body{
  margin: 0;
  background-color: #f4f4f6;
}
.main{
  width: 900px;
  margin: 20px auto 0;
}
.content{
  margin-bottom: 50px;
  overflow: hidden;
}
.information{
  width: 400px;
  box-shadow: 5px 5px 6px -2px #a9a9a9, 3px 3px 8px #fff inset;
  padding: 25px 90px;
  position: relative;
  z-index: 10;
  background-color: #f4f4f6;
  border-radius: 5px;
}
.shop_name{
  font-size: 36px;
  line-height: 35px;
  color: #00FFFF;
  font-family: avenir,helvetica,sans-serif;
  font-weight: bold;
}
.desc{
  font-size: 18px;
  margin: 10px 0;
  line-height: 27px;
  overflow: hidden;
  max-height: 110px;
  font-family: avenir,helvetica,sans-serif;
}
.shop_link{
  text-align: center;
}
.shop_link a{
  font-size: 18px;
  background-color: #f4f4f6;
  color: #AAA;
  padding: 8px 30px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 6px -2px #a9a9a9, 3px 3px 8px #fff inset;
  font-family: avenir,helvetica,sans-serif;
  display: block;
  width: 220px;
}
.shop_link:hover{
  opacity: 0.7;
}
.img_wrapper{
  width: 580px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 7px #999999;
  padding-bottom: 41%;
  height: 0;
  float: right;
  position: relative;
  margin-right: 10px;
  top: -20px;
}
.shop_img img{
  width: 100%;
}
